ebi_f.py
get_tax_id.py
infotaker.py
guide.md
test.py
testfile
GCF_003254395.2_Amel_HAv3.1_genomic.gbff
all_plastids.gbff
log.txt
input/tax_report.csv
input/TaIGa_missing.txt
outfiles/taiga/TaIGa_missing.txt
outfiles/taiga/TaIGa_result.csv
