species_list.txt
ebi_f.py
get_tax_id.py
infotaker.py
guide.md
test.py
testfile
GCF_003254395.2_Amel_HAv3.1_genomic.gbff
all_plastids.gbff
log.txt
input/tax_report.csv
input/TaIGa_missing.txt
outfiles/taiga/TaIGa_missing.txt
outfiles/taiga/TaIGa_result.csv
example/names.txt
input/names.txt
outfiles/taiga/example/TaIGa_result.csv
.vscode/launch.json
log
outfiles/TaIGa_result.csv
outfiles/taiga/chico/TaIGa_result.csv
outfiles/taiga/chico/missing/TaIGa_missing.txt
outfiles/taiga/chico/TaIGa_result.ods
outfiles/taiga/chico/missing/TaIGa_result.csv
outfiles/taiga/chico/missing/names.txt
outfiles/taiga/chico/missing/missing_taxid/TaIGa_missing.txt
outfiles/taiga/chico/missing/missing_taxid/TaIGa_result.csv
input/aves_com_refseq
outfiles/taiga/thieres/TaIGa_result.csv
outfiles/taiga/thieres/TaIGa_result.ods
outfiles/taiga/thieres/test/TaIGa_missing.txt
outfiles/taiga/thieres/test/TaIGa_result.csv
